.vs/
.vscode/

bin/
obj/

*.db
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

dist/
out-tsc/

*.tmp
*.temp
*.bak

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.ps1

.DS_Store
Thumbs.db
desktop.ini

.angular/
*.orig

package-lock.json

# Test outputs
coverage/
*.lcov

# Environment files
src/environments/*.ts
!src/environments/environment.prod.ts

# Compiled files
*.js
*.map

# Angular service worker
ngsw.json
ngsw-config.json
worker-basic.min.js
