.expense-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.form-row {
  margin-bottom: 20px;
}

.expense-list li {
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #f8f9fa;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.expense-list li:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.expense-list li .badge {
  font-size: 1.1em;
  padding: 8px 12px;
  border-radius: 5px;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 12px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

.btn {
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.1em;
  transition: background-color 0.2s ease;
  background-color: #158aff;
}
.btn-danger{
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.1em;
  transition: background-color 0.2s ease;
  background-color: #d23434;
  color: white;
border: none;
}


.btn:hover {
  background-color: #0068d7;
}
.btn-danger:hover{
  background-color: #b12222;
}

.btn:disabled {
  background-color: #1a75c5;
}

h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}
.budget-status-notice {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.under-budget {
  background-color: #d4edda;
  color: #155724;
}

.over-budget {
  background-color: #f8d7da;
  color: #721c24;
}
