<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="yearly-overview">
  <div class="month-card" *ngFor="let data of yearlyData">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ getMonthName(data.month) }}, {{ data.year }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-body">
          <p>Total Expense: {{ data.totalExpense }} </p>
          <p>Budget: {{ data.budget }}</p>
          
          <p *ngIf="data.savings !== undefined">Savings: {{ data.savings | currency }}</p>

          <mat-progress-spinner 
            mode="determinate" 
            [value]="getProgressBarValue(data)" 
            [color]="data.isExceeded ? 'warn' : 'primary'" 
            diameter="100">
          </mat-progress-spinner>

          <div *ngIf="data.isExceeded" class="exceeded">
            <mat-icon>warning</mat-icon> Exceeded Budget
          </div>
          <div *ngIf="!data.isExceeded" class="within-budget">
            <mat-icon>check_circle</mat-icon> Within Budget
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
