<div [style.display]="isSidebarVisible ? 'block' : 'none'" class="sidebar text-white" [class.open]="isOpen">
  <button (click)="toggleSidebar()" class="btn btn-outline-light toggle-btn">
    ☰
  </button>

  <div class="sidebar-menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <button (click)="navigateTo('/expense')" class="btn btn-dark w-100 text-start text-white nav-link">
          <i class="fa-solid fa-dollar-sign"></i> Expenses
        </button>
      </li>
      <li class="nav-item">
        <button (click)="navigateTo('/budget')" class="btn btn-dark w-100 text-start text-white nav-link">
          <i class="fa-solid fa-wallet"></i>   My budget
        </button>
      </li>
      <li class="nav-item">
        <button (click)="navigateTo('/category')" class="btn btn-dark w-100 text-start text-white nav-link">
          <i class="fa-solid fa-chart-pie"></i> Category chart
        </button>
      </li>
      
      <li class="nav-item">
        <button (click)="logout()" class="btn btn-dark w-100 text-start text-white nav-link">
          <i class="fa-solid fa-arrow-right-from-bracket mirror"></i>  Logout
        </button>
      </li>
      
    </ul>
  </div>
</div>
